@font-face {
    font-family: 'Vazir';
    src: url('webFont/vazir-font-v16.1.0/Vazir-Bold.eot') format('embedded-opentype'), url('webFont/vazir-font-v16.1.0/Vazir-Bold.ttf') format('truetype'), url('webFont/vazir-font-v16.1.0/Vazir-Bold.woff') format('woff'), url('webFont/vazir-font-v16.1.0/Vazir-Bold.woff2') format('woff2');
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

body {
    direction: rtl;
}

.form {
    direction: rtl;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #363535;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

body {
    background: #76b852;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* show_error */

.userError {
    font-family: 'Vazir';
    font-weight: normal;
    height: 100px;
    width: 26%;
    background-color: #ffffff;
    color: rgb(228, 26, 26);
    position: absolute;
    left: 37%;
    bottom: 10%;
    text-align: center;
    padding-top: 50px;
    display: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.passError {
    font-family: 'Vazir';
    font-weight: normal;
    height: 100px;
    width: 26%;
    background-color: #ffffff;
    color: rgb(228, 26, 26);
    position: absolute;
    left: 37%;
    bottom: 10%;
    text-align: center;
    padding-top: 50px;
    display: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 20%;
}

.login,
.btn,
.form .message,
.form input {
    font-family: 'Vazir';
}